<div class="container mt-4">
  <h3>Education and Experience</h3>

  <div class="row mt-5">
    <div class="col-md-4">
      <%= form.fields_for :education do |education_form| %>
        <div class="form-group">
          <%= education_form.label :ews, 'Career-Level School (EWS)' %>
          <%= education_form.select :ews, 
            options_for_select(
              Education::EDUCATION_STATUS.map { |k, v| [v, k] }
            ), 
            input_html: { class: "form-control" } 
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>
