<header>
  <nav>
    <ul style="list-style-type: none; display: flex; padding: 0;">
      <li style="margin-right: 20px;">
        <%= link_to 'Home', index_home_path, class: 'nav-link' %>
      </li>
      <li style="margin-right: 20px;">
        <%= link_to 'Resources', index_resources_path, class: 'nav-link' %>
      </li>
      <li style="margin-right: 20px;">
        <%= link_to 'Worksheets', worksheets_path, class: 'nav-link' %>
      </li>
      <li style="margin-right: 20px;">
        <%= link_to 'New Worksheet', new_worksheet_path, class: 'nav-link' %>
      </li>
    </ul>
  </nav>
</header>
