<div class="container text-center mt-5">
  <h1>MROW</h1>

  <div class="image-container mt-4">
    <%= image_tag("BW-EGA.png", alt: "Eagle, Globe, and Anchor") %>
  </div>

  <%= link_to "Create New MROW", new_worksheet_path, class: "btn btn-primary btn-dark mt-5" %>
</div>
